h1 {
  text-align: center;
}
.opal-blue{
  color: #a9c6c2;
}
.rose-quartz{
  color: rgb(247,202,201);
}
.serenity{
  color: rgb(146,168,209);
}
a:link, a:visited{
  text-decoration: none;
  color: rgb(146,168,209);
}
a:hover{
  color: rgb(247,202,201);
}
.navbar{
  padding-left: 100px;
  padding-right: 100px;
}
#landing-page .container{
  margin-left: 100px;
}

#projects-page, #about-page, #contact-page{
  margin-left: 5%;
  margin-right: 5%;
}
.image-background{
	  /* Set rules to fill background */
  min-width: 100%;
}
#logo, #logo1, #logo2{
  position: absolute;
  margin-top: -15%;
  top: 80%;
}
.toolbox img{
  margin: 10px;
  width:60%;
  opacity: 0.75;
}
#skills-page h3{
  margin-top: 25px;
  margin-bottom: 25px;
}

#skills-page h2{
  margin: 0 -601.5rem;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  background-color: rgb(146,168,209);
}
#contact-page .img-responsive {

    margin: 0 auto;
}
#about-page p{
  margin-right: 30px;
}


/*spin on hover*/
.toolbox img:hover, .skills img:hover, #contact-page img:hover {
    opacity: 1;
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 1s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: rotate; 
    -moz-animation-duration: 1s; 
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    animation-name: rotate; 
    animation-duration: 1s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-webkit-keyframes rotate {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
}

@-moz-keyframes rotate {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(360deg);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

#me img, #jump img  {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#me img.top:hover, #jump img.top:hover {
  opacity:0;
}
